#chats {
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;
  height: calc(100vh - 7rem);
  scrollbar-color: #202c33 #111b21;
}

.chat {
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
  opacity: 0.8;
  border-bottom: 1px solid black;
}

.chat:hover {
  background-color: #202c33;
}

#search-result {
  max-height: 250px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #232323 white;
}
